@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    padding:20px; 
    font-family:'Lato', sans-serif; 
}

h2{
    text-align: center;
}

.prof-match{
background-color: #F2F4F8;
padding:20px; 
margin-left: 15vmin;
margin-right: 15vmin;
margin-top: 5vmin}

.navbar{
background-color: #EBF2FF;
overflow:hidden; 

}

.welcomePageButtons{
  text-align: center;
  padding:50px; 
}

.navbar a {
    float: right;
    color: #0D1821;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color:#E7F0FF; 
    color:black; 
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #99BEFF;
    color: white; 
  }

  button{
      background-color:white; 
      color:#0D1821; 
      padding: 13px; 
      text-align:center; 
      font-size: 16px; 
  }
  